:root {
  --main-border-color: #32de7fff;
  --pcolor-dark: #353547;
  --nav-background-color: #535878;
  --nav-background-color-hover: #2c2c3b;
  --nav-height: 64px;
  --page-max-width: 2800px;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-align: center;
}

body h1 {
  font-size: 56pt;
}
body h2 {
  font-size: 24pt;
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width: 2000px) {
  body h1 {
    font-size: 36pt;
  }
  body h2 {
    font-size: 18pt;
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  scroll-padding-top: var(--nav-height);
  width: 76%;
  height: 100%;
  min-height: 100%;
  
  max-width: var(--page-max-width);
  border-left: solid var(--main-border-color) 4px;
  border-right: solid var(--main-border-color) 4px;
}

li,
a,
button {
  font-family: "Poppins", sans-serif;
  font-size: 18pt;
  text-decoration: none;
}

.animation-asset {
  display: none;
}

:target:before {
  content: "";
  display: block;
  height: var(--nav-height);
  margin: var(--nav-height) 0 0;
}

.header-space {
  height: 64px;
}

div .page-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: var(--page-max-width);
  /* z-index: -100; */
}

div .column-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 3%;
  min-width: 80px;
  /* z-index: -9; */
}

div .content-column {
  display: flex;
  flex-direction: column;
  width: 97%;
  max-width: 2760px;
  color: #353547;
  /* z-index: -8; */
}

div .content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 64px;
  /* z-index: -98; */
}

div .content-box {
  display: flex;
  flex-direction: row;
  width: 25%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  /* z-index: -97; */
  justify-content: center;
}
div .content-text {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  width: 45%;
  margin-bottom: auto;
  text-align: left;
  /* z-index: -97; */
  justify-content: center;
}

div .content-canvas {
  display: flex;
  flex-direction: column;
  width: 97%;
  max-width: 2760px;
  color: #353547;
}

div .mocap-box {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: left;
  z-index: -97;
  align-content: center;
}

/* div .content-row.a:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 1);
} */

h2.nav-index {
  display: block;
  float: right;
  width: 40px;
  height: 100vh;
  text-align: left;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  color: #353547;
}

img.profile-pic {
  width: auto;
  height: auto;
  border: solid 8px var(--pcolor-dark);
  border-radius: 50%;
  overflow: auto;
}

img.profile-hex {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
}

img.card {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
  z-index: 0;
  position: relative;
}
a img.card:hover {
  transform: scale(1.1);
  transition: ease 350ms;
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width: 1920px) {
  img.profile-hex {
    max-width: 200px;
    max-height: 200px;
  }
  img.card {
    max-width: 300px;
    max-height: 300px;
  }
}

body.p.profile {
  background-color: white;
  color: white;
  font-size: 18pt;
  justify-content: center;
}

.box {
  border-radius: 50%;
  height: 40px;
  margin: 50px auto;
  width: 40px;
}
